.wp-icon {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 0px;
}

.home {
  text-align: center;
  padding: 50px;
}

.who-we-are {
  text-align: center;
  padding: 30px;
}

.insurance {
  text-align: center;
  padding: 30px;
}

.labelInsurance {
  text-align: center;
  padding: 20px;
}

.h1LabelInsurance {
  font-size: 30px;
}

.pLabelInsurance {
  font-size: 21px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

article.card {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

article.card .thumb {
  width: auto;
  height: 260px;
  border-radius: 8px;
}

article.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: all 0.5s;
}

article.card .infos .title {
  position: relative;
  margin: 5px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

article.card .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card .infos .details {
  margin: 10px 0;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

.align-partners {
  text-align: center;
  padding: 50px;
}

.partners {
  display: inline-block;
}

.contact {
  text-align: center;
  padding: 50px;
}

article.card:hover .infos .txt {
  opacity: 1;
}

article.card:hover .infos .details {
  opacity: 1;
}

article.card:hover .infos {
  transform: translateY(-150px);
}